* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  border: 1px solid #e0e0e0;
}

.btn {
  display: inline-block;
  border: none;
  background: #717171;
  color: #fff;
  outline: none;
  font-size: 12px;
  padding: 0 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}